/* Css padrão */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;    
}

label {
    font-family: 'Open Sans', sans-serif;
}

/* Modal */

.modal {
    position: relative;
    left: 35%;
    right: 35%;
    padding: 5vh;
    padding: 5vw;
    width: 30%;
    box-shadow: 0 0 5px 0 #e2e2e2;
}

/* Título */

.modal .titulo h1 {
    border-bottom: 2px solid lightgray;
    padding-bottom: 2vh;
    margin-bottom: 1vh;
}

/* Nome e preço */

.modal .inputs {
    margin-bottom: 1vh;
}

.modal .inputs label {
    color: #2e2e2e;
    font-size: 20px;
}

.modal .inputs .input-personalizado {
    border: none;
    border-bottom: 1px solid black;
    width: 17vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
    padding: 1%;
}

.modal .inputs .input-personalizado:focus {
    outline: none;
    box-shadow: 0 0 0;
}

/* Text area */

.modal .texto-area {
    margin-bottom: 1vh;
}

.modal .texto-area label {
    color: #2e2e2e;
    font-size: 20px;
}

.modal .texto-area .text-area-personalizada {
    width: 17vw;
    margin-top: 1vh;
    height: 15vh;
    padding: 2%;
    margin-bottom: 1vh;
}

/* Imagem */

.modal .imagem {
    margin-bottom: 1vh;
}

.modal .imagem label {
    color: #2e2e2e;
    font-size: 20px;
}

.modal .imagem .imagem-personalizada {
    width: 17vw;
}

/* Botão */

.modal .botao {
    margin: 5vh 0;
}

.modal .botao .botao-personalizado {
    padding: 2%;
    width: 5vw;
    background-color: white;
    border: none;
    border: solid 1px #2e2e2e;
    border-radius: 5%;
    color: #2e2e2e;
    cursor: pointer;
}

.modal .botao .botao-personalizado:hover {
    background-color: #2e2e2e;
    border: solid 1px #fff;
    border-radius: 5%;
    color: #fff;
    transition: all 0.5s;
    cursor: pointer;
}

/* Voltar */

.modal .voltar {
    color: #2e2e2e;
    text-decoration: none;
}

.modal .voltar:hover {
    text-decoration: underline;
}

/* Footer */

footer {
    background-color: #2e2e2e;
    margin-top: 3%;
    padding: 2% 1%;
}

footer .copy {
    text-align: center;
    color: #e2e2e2;
}